@import "tailwindcss";

@theme {
  --color-background: #fdfaf6;
  --color-foreground: #292524;
  --color-primary: #d97706;
  --color-secondary: #78716c;

  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

:root {
  --background: #fdfaf6;
  --foreground: #292524;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}